.side-menu-btn {
  @include btn-primary;
  position: fixed;
  top: 0;
  z-index: 1001;
  border-radius: 0 0 0.6em 0;
  padding: 0.6em 0.7em;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  /* overflow: auto to make sidebar not get taller than viewport */
  overflow: auto;
  background-color: transparentize($color: black, $amount: 0.1);
}

.sidebar-wrapper-hide {
  position: fixed;
  display: none;
  background-color: none;
}

.sidebar {
  background-color: $sidebar-bg-color;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1001;
  width: 80%;
  height: 100%;
}

@media (min-width: 900px) {
  .side-menu-btn {
    display: none;
  }

  .sidebar-wrapper {
    position: static;
    background-color: none;
  }

  .sidebar-wrapper-hide {
    display: block;
  }

  .sidebar {
    position: static;
    width: 100%;
  }
}
